In [1]:
import pandas as pd
from sklearn import preprocessing

dataset=pd.read_excel("general_data.xlsx",sheet_name=0)
print(dataset.columns)

Label_encoder=preprocessing.LabelBinarizer()
dataset["Attrition"]=Label_encoder.fit_transform(dataset["Attrition"])

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [2]:
dataset.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [3]:
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [28]:
import pandas as pd
dataset2=pd.read_excel("general_data.xlsx",sheet_name=3)
dataset2.head()

,DistanceFromHome_Yes,DistanceFromHome_No,MonthlyIncome_Yes,MonthlyIncome_No,YearsAtCompany_Yes,YearsAtCompany_No,TotalWorkingYears_Yes,TotalWorkingYears_No,YearsWithCurrManager_Yes,YearsWithCurrManager_No
0,10.0,6,41890.0,131160,5.0,1,6.0,1.0,4.0,0
1,11.0,17,58130.0,193280,0.0,5,5.0,5.0,0.0,3
2,1.0,2,57620.0,83210,10.0,8,10.0,13.0,9.0,5
3,1.0,10,103330.0,23420,1.0,6,19.0,9.0,0.0,4
4,4.0,8,68540.0,40710,3.0,7,5.0,28.0,2.0,7

In [29]:
dataset2.columns

Index(['DistanceFromHome_Yes', 'DistanceFromHome_No', 'MonthlyIncome_Yes',
       'MonthlyIncome_No', 'YearsAtCompany_Yes', 'YearsAtCompany_No',
       'TotalWorkingYears_Yes', 'TotalWorkingYears_No',
       'YearsWithCurrManager_Yes', 'YearsWithCurrManager_No'],
      dtype='object')

In [30]:
from scipy.stats import mannwhitneyu
a1=dataset2.DistanceFromHome_Yes
a2=dataset2.DistanceFromHome_No
stats,p=mannwhitneyu(a1,a2)
print(stats,p)

1317879.0 0.0

In [24]:
b1=dataset2.MonthlyIncome_Yes
b2=dataset2.MonthlyIncome_No
stats,p=mannwhitneyu(b1,b2)
print(stats,p)

1365088.5 0.0

In [25]:
c1=dataset2.YearsAtCompany_Yes
c2=dataset2.YearsAtCompany_No
stats,p=mannwhitneyu(c1,c2)
print(stats,p)

1706751.0 0.0

In [26]:
d1=dataset2.TotalWorkingYears_Yes
d2=dataset2.TotalWorkingYears_No
stats,p=mannwhitneyu(d1,d2)
print(stats,p)

1726497.0 0.0

In [27]:
e1=dataset2.YearsWithCurrManager_Yes
e2=dataset2.YearsWithCurrManager_No
stats,p=mannwhitneyu(e1,e2)
print(stats,p)

1672735.5 0.0